.helados-container {
    padding: 10%;
  }
  
  .helados-list {
    margin-top: 20px;
  }
  
  .helado-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }