<nav class="bg-white shadow-lg fixed top-0 left-0 w-full z-50">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between">
        <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer" (click)="navigateTo('bienvenido')">Inicio</a>
        
        <div class="hidden md:flex items-center space-x-4">
          <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer" (click)="navigateTo('altarepartidor')">Alta repartidor</a>
          <a class="py-5 px-3 text-gray-700 hover:text-gray-900 cursor-pointer" (click)="navigateTo('listarepartidor')">Lista repartidor</a>
        </div>
        
        <div class="hidden md:flex items-center space-x-1">
          <button class="py-2 px-3 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300 cursor-pointer" (click)="closeSession()">Cerrar sesión</button>
        </div>
      </div>
    </div>
    </nav>